<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @a_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @a_post.description %>
</p>

<%= link_to 'Edit', edit_a_post_path(@a_post) %> |
<%= link_to 'Back', a_posts_path %>
