<%= form_with(model: aost, local: true) do |form| %>
  <% if aost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aost.errors.count, "error") %> prohibited this aost from being saved:</h2>

      <ul>
      <% aost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
